.wrapper {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.slide {
  opacity: 0;
  transition-duration: 1.5s ease;
}

.active {
  opacity: 1;
  transition-duration: 1.5s;
}
.containerDots {
  position: absolute;
  bottom: 49%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #000000;
}
.dotActive {
  background: rgb(109, 109, 109);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #949494;
  margin: 0 5px;
}
